.content {
    width: 80%;
    font-size: 60px;
    font-family: Helvetica;
    margin: auto;
    font-weight: lighter;
    text-align: center;
    margin-top: 100px;
    color: #2FAADB;
    /* color: #E93856 */
}